:host {
    display: flex;
}

.badge-poison {
    background-color: #3c1361;
    color: #fff;
}

.badge-flying {
    background-color: cornflowerblue;
    color: #fff;
}

.badge-water {
    background-color: cyan;
    color: #fff;
}

.badge-bug {
    background-color:goldenrod;
    color: #fff;
}

.badge-normal {
    background-color: mediumseagreen;
    color: #fff;
}

.modal-img {
    display: flex;
    justify-content: center;
        img {
             max-width: 100%;
        }
}

footer {
    padding-top: 15px;
}